// Overrides
// ======================================

/***** DROP IN BLOG ****/
.dib-post-title{
font-size:200%;
}
div.dib-post-content p{
font-size:150%;
}
.dib-single .dib-post-title{
font-size:250%;
}
.dib-single {
margin-top:30px;
}
.dib ol, .dib ul,{
  font-size:130%;
  margin-left:1rem;
}
.dib h2{
  color:#237fff;
}
#dib-post-single .dib-post-content p{
  font-size:130%;
}
#dib-template-2 .dib-post-single .dib-post-content h3{
     margin-bottom:0;
}
 #dib-posts #dib-template-2 .dib-post-single h2{
     margin: 50px 0 15px 0;
}
#dib-template-2 .dib-post-single blockquote {
  background: #f9f9f9;
  border-left: 10px solid #00d2f2 !important;
border-top:0;
border-right:0;
border-bottom:0;
  padding: 0.5em 10px;
}

.dib-single blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.dib-single blockquote p {
  display: inline;
font-size:80%;
}
.dib-single blockquote span {
  display: block;
  text-align: right;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;
font-weight:bold;
}
ul.dib-cat-menu{
  font-size:80%;
  color:#545454;
}
ul-dib-cat-menu a{
      color:#545454;
}
/*** Reduce table font size on mobile ***/
@media only screen and (max-width: 992px) {
.dib table{
   font-size:60%;
}
}

.dib table {
  border-spacing: 0;
  width: 100%;
  border: 1px solid #000;
  border-collapse: collapse;
}
.dib table th{
  background-color:#237fff;
  color:#fff;
  border-top:1px solid #000;
}

.dib table td, table th {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.dib table td:first-child {
    border-left: none;
}

.dib table td:last-child {
    border-right: none;
}
.dib table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.dib table td:first-child {
    border-left: none;
}

.dib table td:last-child {
    border-right: none;
}

.dib th, td {
  text-align: center;
  padding: 16px;
}

.dib th:first-child, td:first-child {
  text-align: left;
}

.dib tr:nth-child(even) {
  background-color: #fff;
}

.dib .fa-check-circle {
  color: green;
  font-size:1.4rem;
}

.dib .fa-times-circle{
  color: red;
  font-size:1.4rem;
}
/*Apply padding to the left and right when on mobile*/


@media only screen and (max-width: 600px) {
.dib-post-content.dib-highlight, h1.dib-highlight, #dib-template-2 p.dib-meta-text {
    padding: 0 30px 0 30px;
}
}

@media only screen and (max-width: 600px) {
#dib-template-2 .dib-post-single p.dib-meta-text {
    margin-left:30px;
}
}
/*Decrease video section height*/
section.video{
    height:500px;
    border-bottom:5px solid #00d2f2;

}
/*On mobile switch the height of videos to auto*/
@media only screen and (max-width: 600px) {
section.video{
    height:auto;

}
}

/*On home page add top margin to explore agile foundations button*/
@media only screen and (max-width: 600px) {
.rich-text___50a87{
   margin-top:30px;
}
}
.center-text{
    text-align:center;
}

/**** Remove all padding / margin / spacing from a Text & Media Section ****/
.rich-text__container{
    margin:0 auto;
    padding:0;
}
.rich-text__wrapper{
 padding:0;
 margin:0;
}
.rich-text__wrapper .section__content{
    max-width:100%;
    flex:none;
    margin:0;
    padding:0px;
}
/*** When on mobile, apply padding to the left and right so the content doesn't hit the edges ***/
@media only screen and (max-width: 992px) {
.section__content{
   padding-left:1rem !important;
   padding-right:1rem !important;
}
}

/***Make mobile responsive layouts for custom html in text & media section***/
.kr-container {
		display: flex; flex-direction: row;
		margin-bottom:1rem;

	}

.kr-container div.item {
		flex: 1;
		padding:1rem;
	}

@media(max-width: 992px) {
	.kr-container {
	flex-direction: column;
		}
	}
.rich-text__container .kr-container ul{
    margin-left:2rem;
    margin-bottom:1rem;
    padding:0 !important;
    padding-left:0 !important;
}
p.section__subheading{
    font-weight:600;
    font-size:1.3rem;
    margin-bottom:.5rem;
    color:#166EB8;
}
.learner-get{
	width:33%;
  float:left;
  padding:.5rem;
  }
 .learner-get img{
     width:65%;
 }

 .rich-text___b3527 .showcase__list-item{
     flex: 0 0 30%;
     max-width:30%;
 }


 @media only screen and (max-width: 992px) {
 .rich-text___b3527 .showcase__list-item{
     flex: 0 0 100%;
     max-width:100%;

 }
 }
.showcase__list-item img {
    margin-bottom:10px;
}
.showcase__list-item h4 {
    font-size:1.4rem;
}
.rich-text__container .showcase__list{
  margin-top: 2rem;
}
.showcase__list{
 align-items:flex-start;
}
.text-icon__list-item .fa, .text-icon__list-item h3{
    margin-bottom: 1rem;
}
section.text-icon___56c2d{
     background-color:transparent;
}
@media only screen and (max-width: 992px) {
.section__content-alignment--left .text-image__body, .section__content-alignment--left .text-image__body header.section__headings h2.section__heading{
  text-align:center;
}
}
@media only screen and (max-width: 992px) {
.section__content-alignment--right .text-image__body, .section__content-alignment--right .text-image__body header.section__headings h2.section__heading{
  text-align:center;
}
}
.lead-capture__container{
    text-align:center;
}
section.lead-capture .button-primary{
    margin:0 auto;
}
section.lead-capture .form__label{
    display:none;
}
.marker{
  position:relative;
}

.marker:before{
  content:"";
  background-color:#FFEA00;
  width:106%;
  height:1.2em;
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  left:-.3em;
  top:0.2em;
  padding:0 1em;
}

/*************** TESTIMONIALS******************/
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Gochi+Hand&family=Permanent+Marker&family=Rock+Salt&display=swap');

.text-image__body___0e977{

    padding: 0 1rem 0 0;

}
.text-image___0e977 .section__heading___0e977{
    font-size:140%;
    /*font-family: 'Caveat Brush', cursive;*/
    font-family: 'Rock Salt', cursive;
    color:#fff;
    line-height:210%;

}
.text-image___0e977 .section__body{
    text-align:right;
    color:#00d2f2;
    margin-top:1rem;

}
.text-image__image___0e977, .text-image__image___0e977 img{
    align-self: flex-start;

}

.text-image__image___0e977 img{
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, .1);
    border: 5px solid #fff;
    border-radius:50%;
}
.text-image___0e977{
    background: rgb(60,60,70);
    background: radial-gradient(circle, rgba(60,60,70,1) 0%, rgba(30,30,30,1) 100%);
}

.text-image__body___0e977 .section__headings{
    margin:0;
}

/*lindsey*/
.text-image__body___ed23f{

    padding: 0 1rem 0 0;

}
.text-image___ed23f .section__heading___ed23f{
    font-size:140%;
    /*font-family: 'Caveat Brush', cursive;*/
font-family: 'Rock Salt', cursive;


    color:#fff;
    line-height:210%;

}
.text-image___ed23f .section__body{
    text-align:right;
    color:#00d2f2;
    margin-top:1rem;

}

@media only screen and (max-width: 992px) {
.text-image___ed23f .section__body{
    text-align:center;
}
}
.text-image__image___ed23f, .text-image__image___ed23f img{
    align-self: flex-start;

}

.text-image__image___ed23f img{
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, .1);
    border: 5px solid #fff;
    border-radius:50%;
}
.text-image___ed23f{
    background: rgb(60,60,70);
    background: radial-gradient(circle, rgba(60,60,70,1) 0%, rgba(30,30,30,1) 100%);
}

.text-image__body___ed23f .section__headings{
    margin:0;
}
@media only screen and (max-width: 992px) {
.text-image__image___ed23f img, .text-image__image___0e977 img,  {
     margin:0 auto;
}
}
section.faq___da46f details > summary, section.faq___e99f7 details > summary{
  font-size:130%;
  color:#237fff;
}
section.faq___e99f7 div.faq__container{
  padding-top:2.5rem;
}


.call-to-action__wrapper .section__content___e3574,
.call-to-action__wrapper .section__content___f636b ,
.call-to-action__wrapper .section__content___7f4cf,
.call-to-action__wrapper .section__content___a8646
 {
          max-width:60%;
          flex:0 0 60%;


     }
.call-to-action___e3574,
.call-to-action___f636b,
.call-to-action___7f4cf {
     box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, .25);

}


@media(max-width: 992px) {
     .call-to-action__wrapper .section__content___e3574,
     .call-to-action__wrapper .section__content___f636b,
     .call-to-action__wrapper .section__content___7f4cf,

{
          max-width:90%;
          flex:0 0 100%;
          padding:0;

     }
	}
.section__button-group___e3574 a.button-primary,
.section__button-group___f636b a.button-primary,
.section__button-group___7f4cf a.button-primary

{
     background:#fff;
     color:#237fff;
}
.section__button-group___e3574 a:hover.button-primary,
.section__button-group___f636b a:hover.button-primary,
.section__button-group___7f4cf a:hover.button-primary,

{

     box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, .25);
}
.call-to-action___f636b .call-to-action__container,
.call-to-action___7f4cf .call-to-action__container,

{
  padding: 2rem 0;
}
